* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Segoe UI", sans-serif;
    background: #f7f9f9;
  }
  
  #game {
    width: 1400px;
    height: 700px;
    border: 3px solid #111;
    border-radius: 15px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  
  #label {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .btn {
    color: #fff;
    width: 200px;
    border: none;
    margin: 30px;
    padding: 20px 30px;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #5dade2;
    transition: 0.5s;
    box-shadow: 0 0 25px #5dade2;
  }
  
  /* TAK WIEM ŻE MOGŁEM DAĆ "btn: ..." ALE NIE MAM POJĘCIA CZEMU ALE MI TO NIE DZIAŁAŁO A MI SIĘ NIE CHCIAŁO BACIĆ*/
  
  a:link {
    color: #fff;
    text-decoration: none;
  }
  a:visited {
    color: #fff;
    text-decoration: none;
  }
  a:active {
    color: #fff;
    text-decoration: none;
  }
  .btn:hover {
    box-shadow: 0 0 5px #5dade2, 0 0 25px #5dade2, 0 0 50px #5dade2,
      0 0 100px #5dade2;
  }
  